/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
@font-face {
 	font-family: 'BentonSans';
 	src: url('../fonts/BentonSans-ExtraLight.otf') format("opentype"); /* IE9 Compat Modes */
} /* Benton Sans Extra Light for all bodycopy */
@font-face {
 	font-family: 'BentonBook';
 	src: url('../fonts/BentonSans-Book.otf') format("opentype"); /* IE9 Compat Modes */
} /* Benton Sans Book for editable text boxes (depending on how they want the menu laid  */
/*
@font-face {
 	font-family: 'CapitoliumNews2';
 	src: url('CapitoliumNews2Regular.weblocx');
}  
Headings (UPPERCASE) and Buttons and Tabs  */



html {
	font-family: 'BentonSans';
	font-size: 14px;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	margin: 0;
	font-family: 'BentonSans';
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
	color: #404040;
	font-family: inherit;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
//	box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
} 

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, .8);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
	width: 100%;
}

select {
	border: 1px solid #ccc;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: royalblue;
}

a:visited {
	color: purple;
}

a:hover,
a:focus,
a:active {
	color: midnightblue;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation li {
	float: left;
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul ul li {

}

.main-navigation li:hover > a,
.main-navigation li.focus > a {
}

.main-navigation ul ul :hover > a,
.main-navigation ul ul .focus > a {
}

.main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link{
	display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33333%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66667%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28571%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11111%;
}

.gallery-caption {
	display: block;
}

.sow-slide-nav,
.sow-slider-pagination {
	display: block !important;
	opacity: 1 !important;
}
.metaslider .slides img{
     object-fit: cover;
    height: 100%;
    object-position: center center;
}

.wpcf7 select {

  /* styling */
  background-color: white;
  border: thin solid black;
  border-radius: 0px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}


.wpcf7 select{padding:10px;font-weight:normal;color:black;width:96.5%;display:block;margin-left:10px;margin-right:20px;
  background-image:
    linear-gradient(45deg, transparent 50%, black 50%),
    linear-gradient(135deg, black 50%, transparent 50%);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

.wpcf7 selectd{
  background-image:
    linear-gradient(45deg, black 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, black 50%),
    linear-gradient(to right, #000, #000);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: black;
  outline: 0;
}


.wpcf7 select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}


.wpcf7 .wpcf7-not-valid-tip { display: none; }
.wpcf7 .wpcf7-validation-errors {border:2px solid #f7e700!important;color:white!important;}




















//
//
// CUSTOM
//
//


html, body {
	width: 100%;
  height: 100%;
	font-family: 'BentonSans', sans-serif;
	line-height: 30px;
	/*overflow: hidden;*/
}
.page-content, 
.entry-content, 
.entry-summary,
.hentry {
    margin: 0;
}

/*#masthead,
#content,
#colophon { display: none; }*/

@media (min-width: 1200px) {
	.container {
		width: 992px;
	}
	h2, h3, p, ul {
		max-width: 992px;
		margin-right: auto;
		margin-left: auto;
	}
}

h3, .btn, .navbar-nav, p.serif, .site-footer p, h4, .wpcf7-submit {
	font-family: "capitolium-news-2",serif; // Capitolium imported by typekit
	letter-spacing: 5px;
}

.btn {
	font-size: 20px;
    padding: 8px 35px;
 
}

.btn-green,
.rtb-booking-form button {
	background: $darkgreen;
	color: #fff;
	border: 1px solid transparent;
	-moz-border-image: -moz-linear-gradient(left right, #e7b197 0%, #c18569 100%);
	-webkit-border-image: -webkit-linear-gradient(left right, #e7b197 0%, #c18569 100%);
	border-image: linear-gradient(to right, #e7b197 0%, #c18569 100%);
	border-image-slice: 1;
}

a.btn-green:hover,
.rtb-booking-form button:hover {
	color: #fff;	
	border: 1px solid transparent;
	-moz-border-image: -moz-linear-gradient(left right, #c18569 0%, #e7b197 100%);
	-webkit-border-image: -webkit-linear-gradient(left right, #c18569 0%, #e7b197 100%);
	border-image: linear-gradient(to right, #c18569 0%, #e7b197 100%);
	border-image-slice: 1;
}

.btn-default, input[type="submit"].btn-default, input.wpcf7-submit {
	background-color: transparent;
    border-radius: 0px;
    color: #05080B;
	/*border: 1px solid transparent; TR: this 'transparent' rule stops it working in Safari, so have replaced with the below in long-hand */
	border-width: 1px;
	border-style: solid;
	-moz-border-image: -moz-linear-gradient(left right, #e7b197 0%, #c18569 100%);
	-webkit-border-image: -webkit-linear-gradient(left right, #e7b197 0%, #c18569 100%);
	border-image: linear-gradient(to right, #e7b197 0%, #c18569 100%);
	border-image-slice: 1;
}

.btn-default:hover, input[type="submit"].btn-default:hover {
	/*background-color: transparent;*/
    border-radius: 0px;
    background-color: rgba(237,236,227,0.20);//#F4F4EF;
    color: #05080B;
	border-width: 1px;
	border-style: solid;
	-moz-border-image: -moz-linear-gradient(left right, #c18569 0%, #e7b197 100%);
	-webkit-border-image: -webkit-linear-gradient(left right, #c18569 0%, #e7b197 100%);
	border-image: linear-gradient(to right, #c18569 0%, #e7b197 100%);
	border-image-slice: 1;
}

.btn-default:visited {color: #444;}

.btn-green:visited {color: #fff;}

#pl-4 .so-panel { margin-bottom: 0px !important; }

@media (max-width: 768px) {
	/* fix for problem with buttons forcing mobile screens to scroll horizontally */
	.btn { white-space: normal; }
}





/* Menu */

.navbar-nav>span>li>a {
	line-height: 40px;
}

.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-nav>span>li>a{
	color: #fff;
	font-size: 16px;
}
.navbar-inverse .navbar-nav.cus-nav > li > a {
	padding-top: 10px;
}

.nav li a:hover {
	background: transparent;
}

.navbar-right a .fa-bars {
    font-size: 35px;
    color: #c18569;
    padding: 5px 10px 10px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    -moz-border-image: -moz-linear-gradient(left right, #c18569 0%, #e7b197 100%);
    -webkit-border-image: -webkit-linear-gradient(left right, #c18569 0%, #e7b197 100%);
    border-image: linear-gradient(to right, #c18569 0%, #e7b197 100%);
    border-image-slice: 1;
}

.navbar-right a {
	display: block;
}

.navbar-right a,
.navbar-toggle {
	padding: 10px;
	border: 1px solid transparent;
    -moz-border-image: -moz-linear-gradient(left right, #c18569 0%, #e7b197 100%);
    -webkit-border-image: -webkit-linear-gradient(left right, #c18569 0%, #e7b197 100%);
    border-image: linear-gradient(to right, #c18569 0%, #e7b197 100%);
    border-image-slice: 1;
}

.navbar-inverse .navbar-toggle:focus, 
.navbar-inverse .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-inverse {
	background-color: transparent;
	border-color: transparent;
}
/* Fix for transparent navbar on policy pages */
.page-template-page-policy .navbar-inverse {
	background: black;
	background: rgba( 0, 0, 0, 0.8 );
}

span.bar-line {
    width: 30px;
    padding: 4px;
    display: block;
    border-bottom: 2px solid white;
    /*
    -moz-border-image: -moz-linear-gradient(left right, #c18569 0%, #e7b197 100%);
    -webkit-border-image: -webkit-linear-gradient(left right, #c18569 0%, #e7b197 100%);
    border-image: linear-gradient(to right, #c18569 0%, #e7b197 100%);
    */
    border-image-slice: 1;
}
span.bar-line:first-child {
	padding: 0 4px;
}

.navbar-fixed-top .navbar-collapse {
	max-height: none; // fix for bootstrap limiting the height of the nav menu
}
@media (min-width: 768px) {
	//max-height: 340px;
}

.top-nav-collapse #homeNav {
  background: transparent;
}

.navbar-collapse.collapse#homeNav {
    display: none !important;
}

.navbar-collapse.collapse.in#homeNav {
    display: block !important;
}

#homeNav li { 
	float: none;
}

.navbar-right {
	display: none;
}

.nav > span > li > a,
.nav > li > a {
	padding: 10px 30px;
}

.navbar-inverse {
    background: rgba(0, 0, 0, 0.8);
}

.navbar-toggle {
  margin: 5px 15px;
}

@media (min-width: 768px) {

.navbar-nav {
	width: 80%;
}

.navbar-inverse {
  background: rgba(0, 0, 0, 0.5);
	transition: all 0.5s ease-out;
}

.navbar-right { 
	display: block;
	width: 20%;
	margin-top: 10px;
}

.nav > span > li > a {
	padding: 0;
}

.nav > li > a {
	padding: 10px 0 0; /* 15px was 75px... is now 0 (second value) */
}
.page-id-901 .nav > li > a {
	padding: 20px 0 0; /* 15px was 75px... is now 0 (second value) */
}

#Navbar ul.nav li {
	margin-right: 20px;
}

#Navbar ul.nav li:hover {
	background: transparent;
    border-bottom: 2px solid transparent;
    -moz-border-image: -moz-linear-gradient(left right, #c18569 0%, #e7b197 100%);
    -webkit-border-image: -webkit-linear-gradient(left right, #c18569 0%, #e7b197 100%);
    border-image: linear-gradient(to right, #c18569 0%, #e7b197 100%);
    border-image-slice: 1;
}

.mobile-nav {
	display: none;
}

.navbar-right {
	margin-right: 0;
}

.navbar-custom.top-nav-collapse {
    padding: 0;
    background: rgba(0, 0, 0, 0.8);
    /*border-bottom: 1px solid #c18569;*/
}

#Navbar .navbar-header ul.nav li:first-child {
	border-bottom: none;
	margin-right: 50px;
}

.top-nav-collapse .navbar-nav > li > a {
	padding: 10px 0 0; /* 15px was 75px... is now 0 (second value) */
}

.top-nav-collapse .navbar-nav.cus-nav > li > a {
	padding: 10px 0;
}

.navbar.top-nav-collapse {
	min-height: 30px;
}

.navbar-fixed-top,
.navbar-custom.top-nav-collapse {
	padding: 0px 25px 10px;
}

#homeNav {
	margin-top: 10px;
	padding: 0 15px;
}

#homeNav ul {
    padding: 0;
}
}

@media (min-width: 1024px) {

.navbar-nav {
	width: auto;
	margin-bottom: 10px;
}

.home .navbar-right {
	width: auto;
}

.navbar-inverse {
  background: rgba(0, 0, 0, 0);
}

.nav > li > a,
.top-nav-collapse .navbar-nav > li > a {
	padding: 30px 0px 10px 0; /* 15px was 75px... is now 0 (second value) */
}

#Navbar ul.nav li {
	margin-right: 50px;
}

#homeNav {
	background-color: rgba(0, 0, 0, 0.8);
}
}

/* background so navbar is visible on pages without a slider */
#navbar-bg {
	height: 54px;
	margin-bottom: 30px;
	background-color: black;
	background-color: rgba( 0, 0, 0, 0.8 );
}
@media(min-width: 768px) {
#navbar-bg {
	height: 120px;
}
}



/* Header */

header {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 460px;
	z-index: 1001;
}

#scroll-down {
	display: none;
	z-index: 1002;
}
@media(min-width: 768px) {
#scroll-down {
	display: block;
	position: absolute;
	bottom: 100px;
	left: 50%;
  width: 60px;
}
#arrow-icon {
	position: absolute;
  left: -50%;
  width: 60px;
}
}
@media(min-width: 1024px) {
header {
	height: 100vh;
}
}






/* Content */

#content {
	z-index: 100;
}

.metaslider .slides .caption {
	padding: 0;
}
@media(min-width: 768px) {
	.metaslider .slides .caption p {
	    margin-top: 70px;
	}
}
@media(min-width: 1024px) {
	.metaslider .slides .caption {
		padding: 5px 30px;
	}
}
@media(min-width: 1440px) {
	.metaslider .slides .caption {
		padding: 5px 100px;
	}
}
@media(min-width: 1600px) {
	.metaslider .slides .caption {
		padding: 5px 180px;
	}
}



/* Section 1 */

.section--hero {
	position: relative;
	margin-top: 54px;
	z-index: 100;

	&:before {
		content: ' ';
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 1000;
		background: transparent url('../images/core-logo.png') no-repeat center center;
		background-size: 100%;
	}

	.metaslider .flexslider .slides li,
	.metaslider .flexslider .slides li img {
		height: 240px;
		max-height: 240px;
	}
}
@media (min-width: 768px) {
.section--hero {
	margin-top: 0;
	
	&:before {
		background-size: 50%;
	}

	.metaslider .flexslider .slides li,
	.metaslider .flexslider .slides li img {
	  height : 50vh !important;
		max-height: none;
	}
}
}
@media (min-width: 1024px) {
.section--hero {
	.metaslider .flexslider .slides li,
	.metaslider .flexslider .slides li img {
	  height : 100vh !important;
	}
}
}



/* Section 2 */

.section--intro {
	padding: 100px 15px !important;
}
.home .section--intro { // homepage only
	padding: 15px 0 !important;
}
@media (min-width: 1024px) {
.home .section--intro { // homepage only
	padding: 100px 15px !important;
}
}

.section--intro h3 {
	margin: 0;
	padding: 20px 0;
	font-size: 30px;
	color: #04080c;
	font-weight: 400;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.section--intro p {
	margin: 0;
	padding: 35px 0;
	color: #4a6a60;
	font-size: 16px;
}

@media(min-width: 1024px) {
	.section--intro h3 {
		padding: 35px 0 20px 0;
	}
}

@media(min-width: 1200px) {
	.section--intro h3 {
		margin: 0 auto;
		padding: 50px 0;
	}
	.section--intro p {
		margin: 0 auto;
	}
}

@media(min-width: 1440px) {
	.section--intro h3 {
		padding: 90px 0;
	}
}



/* Section 3 About Core */

@media (max-width: 420px) {
	.btn-reservation { 
		font-size: 16px;
		padding: 10px 15px;
	}
}

.section--about {
	background: $darkgreen url('../images/CORE_ContinousForm01.png');
	background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  background-size: cover; /*deliberately overwriting the above rule */
}

.section--about h3,
.section--about p {
	margin: 0;
}

.section--about h3 {
	font-size: 30px;
	font-weight: 400;
}

.section--about p {
	padding: 20px;
	font-size: 16px;
	
}

@media(min-width: 1024px) {
	.section--about h3 {
		padding: 35px 0;
	}
	.section--about p {padding-left: 160px; padding-right: 160px;}
}

@media(min-width: 1200px) {
	.section--about h3 {
		margin: 0 auto;
		padding: 50px 0;
	}
	.section--about p {
		margin: 0 auto;
	}
}

@media(min-width: 1440px) {
	.section--about h3 {
		padding: 90px 0;
	}
}



/* Section 4 Clare */

.section--clare > div {
	padding: 0 !important; // overriding inline style generated by siteorigin
}

.section--clare-image {
	margin-bottom: 15px;
}

.section--clare-content {
	padding-bottom: 15px;
}

.section--clare h3 {
	font-size: 30px;
	margin: 0;
	padding: 20px 0;
}

.section--clare p {
	margin: 0 0 10px;
	padding: 0 40px;
	font-size: 16px;
}

@media(min-width: 768px) {

	.section--clare #pgc-4-2-0,
	.section--clare #pgc-4-2-1 {
		width: calc(50% - ( 0.1 * 30px ) );
	}
}

@media(min-width: 992px){

.section--clare-image {
	margin-bottom: 0;
}

.section--clare-content {
	padding-bottom: 0;
}
	.section--clare p {
		padding: 0px 20px;
	}
}

@media(min-width: 1024px) {
.section--clare > div {
	width: 50% !important;
}
.section--clare h3 {
	padding: 35px 0;
}
}

@media(min-width: 1200px) {
	.section--clare-content .textwidget {
		padding: 35px 70px;
	}

	.section--clare h3 {
		padding: 50px 0;
	}
}

@media(min-width: 1440px) {
	.section--clare-content .textwidget {
		padding: 85px 120px;
	}
}

@media(min-width: 1600px) {
	.section--clare-content .textwidget {
		padding: 155px 120px;
	}
}



/* Section 5 Core Team */

.section--team {
	color: #fff;
	border-top-width: 2px;
	border-top-style: solid;
	border-bottom-width: 2px solid;
	border-bottom-style: solid;
	-moz-border-image: -moz-linear-gradient(left right, #c18569 0%, #e7b197 100%);
	-webkit-border-image: -webkit-linear-gradient(left right, #c18569 0%, #e7b197 100%);
	border-image: linear-gradient(to right, #c18569 0%, #e7b197 100%);
	border-image-slice: 1;
}

@media(min-width: 768px) {
.section--team {
	display: flex !important;
	color: #fff;
	border-top-width: 2px;
	border-top-style: solid;
	border-bottom-width: 2px solid;
	border-bottom-style: solid;
	-moz-border-image: -moz-linear-gradient(left right, #c18569 0%, #e7b197 100%);
	-webkit-border-image: -webkit-linear-gradient(left right, #c18569 0%, #e7b197 100%);
	border-image: linear-gradient(to right, #c18569 0%, #e7b197 100%);
	border-image-slice: 1;
}
}



/* Section 6 Core Team Members */

.section--teammembers-description {
	margin: 0 !important; // correcting inline CSS generated by siteorigin
	padding: 100px 0 !important;

	background: $darkgreen url('../images/CORE_ContinousForm03.png');
	background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
	color: white;
}

.section--teammembers h3,
.section--teammembers p {
	margin: 0;
}

.section--teammembers h3 {
	margin: 0;
	font-weight: 400;
}

.section--teammembers p {
	font-size: 16px;
	padding: 20px;
}

@media(min-width: 1200px) {
.section--teammembers h3 {
	margin: 0 auto;
}
.section--teammembers p {
	margin: 0 auto;
}
}

.section--teammembers a {
	color: #fff;
}

.section--teammembers a:hover {
	text-decoration: none;
}

.section--teammembers a .fa {
	margin-left: 40px;
  font-size: 40px;
	position: relative;
  top: 8px;
  color: #c18569;
}

.section--teammembers .metaslider .flexslider .slides {
	background: $darkgreen;
}
.section--teammembers .metaslider .flexslider .slides li {
	background: $darkgreen;
	//padding-top: 50px;
	height: auto;
	max-height: auto;
}
.section--teammembers .metaslider .flexslider .slides li img {
	width: 100%;
	height: auto;
	float: none;
}
@media(min-width: 992px) {
.section--teammembers .metaslider .flexslider .slides li img {
	width: 50%;
	float: left;
	margin-top: 80px;
}
}
.section--teammembers .metaslider .flexslider .slides li .caption-wrap {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	padding: 30px 10px;
	background-color: rgba(15, 65, 59, 0.90);
}
@media(min-width: 992px) {
.section--teammembers .metaslider .flexslider .slides li .caption-wrap {
	background: transparent;
	width: 50%;
	height: 100vh;
	padding-top: 80px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	opacity: 1;
}
}
.section--teammembers .metaslider .flexslider .slides .caption h3 {
  font-size: 30px;
  text-align: center;
}

.section--teammembers .metaslider .flexslider .slides .caption h4 {
	font-size: 26px;
  text-align: center;
}

.section--teammembers .metaslider .flexslider .slides .caption p {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}
.section--teammembers .metaslider .flexslider .flex-direction-nav li a {
	width: 20px;
	height: 40px;
	background-size: 20px 40px;
}

.section--teammembers .flex-direction-nav a.flex-prev {
	background-image: url('/wp-content/uploads/2017/07/core-chevron-left-1.png') !important;
	opacity: 1;
	left: 20px;
}

.section--teammembers .flex-direction-nav a.flex-next {
	background-image: url('/wp-content/uploads/2017/07/core-chevron-1.png') !important;
	opacity: 1;
	right: 20px;
}

.section--teammembers #biog {
	font-size: 15px;
}

.section--teammembers #biog img {
	margin-left: 0px !important;
}

.section--teammembers .metaslider .slides .caption h3 {
    font-size: 24px;
}

.section--teammembers .metaslider .slides .caption h4 {
	font-size: 21px;
}

.section--teammembers .metaslider .slides .caption p {
    font-size: 15px;
}

.section--teammembers p {
	padding: 20px 50px;
}

.section--teammembers .flex-direction-nav a {
	width: 15px;
}
.section--teammembers .metaslider .flexslider .flex-direction-nav {
	bottom: 680px;
}
.section--teammembers .metaslider .flexslider .flex-direction-nav li a {
	opacity: 1;
}

.section--teammembers .metaslider .slides .caption h3 {
    font-size: 26px;
}

.section--teammembers .metaslider .slides .caption h4 {
	font-size: 22px;
}

.section--teammembers .metaslider .slides .caption p {
    font-size: 16px;
    line-height: 25px;
}



/* Section 7 Slider (gallery of dishes) */

.section--gallery {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.section--gallery > div {
	padding: 0 !important; // overriding inline style generated by siteorigin
}

@media(min-width: 1200px) {
.section--gallery .sow-slider-base ul.sow-slider-images {
	margin: 0 auto;
}	
}

.section--gallery .sow-slider-base .sow-sld-icon-ultra-thin-left:before {
  	background-image: url(/wp-content/uploads/2017/07/core-chevron-left-1.png) !important;
    width: 20px;
    height: 40px;
    background-size: 20px 40px;
    content: "" !important;
    display: inline-block;

}
.section--gallery .sow-slider-base .sow-sld-icon-ultra-thin-right:before {
  	background-image: url(/wp-content/uploads/2017/07/core-chevron-1.png) !important;
    width: 20px;
    height: 40px;
    background-size: 20px 40px;
    content: "" !important;
    display: inline-block;
}

.section--gallery .sow-slider-base .sow-slider-pagination {
	text-align: center;
	bottom: 80px;
}

.section--gallery .sow-slider-base .sow-slider-pagination li {
	padding: 0px 3px;
}

.section--gallery .sow-slider-base .sow-slider-pagination li.sow-active a {
	background-image: linear-gradient(#fddec4, #c18569);
}

.section--gallery .sow-slider-base .sow-slider-pagination li a {
	border-radius: 0px;
	background: transparent;
	border: 1px solid transparent;
	-moz-border-image: -moz-linear-gradient(top bottom, #fddec4 0%, #c18569 100%);
	-webkit-border-image: -webkit-linear-gradient(top bottom, #fddec4 0%, #c18569 100%);
	border-image: linear-gradient(to bottom, #fddec4 0%, #c18569 100%);
	border-image-slice: 1;
	opacity: 1;
	width: 17px;
	height: 17px;

}



/* Section 8 Menus */

.section--menus {
	padding: 20px 15px 45px !important; // why doesn't siteorigin take care of this??!
	
	.cus-menu-nav {
		margin: 0 auto;
	}

	.tasting-menu,
	.small-tasting-menu,
	.a-la-carte-menu {    
    background: #fff url(/wp-content/uploads/2017/07/cORE_ContinousForm-02-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 20px;
    background-size: 100%;
	}

	.tasting-menu { display: block; }
	.small-tasting-menu,
	.a-la-carte-menu { display: none; }
}

@media(min-width: 992px) {
	.cus-menu-nav,
	.tasting-menu,
	.small-tasting-menu,
	.a-la-carte-menu {
		width: 820px;
		margin: auto;
	}
}

.tasting-menu .textwidget,
.small-tasting-menu .textwidget,
.a-la-carte-menu .textwidget {
	padding: 50px 0;
}

.tasting-menu .textwidget h4,
.small-tasting-menu .textwidget h4,
.a-la-carte-menu .textwidget h4 {
	font-weight: 300;
	margin-bottom: 50px;
	letter-spacing: 2px;
}

.section--menus #slice-menus h3 
.section--menus h3 {
	color: #04080C;
	margin: 0;
	padding: 90px 0 45px;
}

.section--menus .menu-content h3 {
	padding: 130px 0;
}

.cus-menu-nav li a.active, .cus-menu-nav li a:hover {
	background: transparent;
	border-style: solid;
	border-width: 0;
	border-bottom-width: 2px;
	-moz-border-image: -moz-linear-gradient(left right, #c18569 0%, #e7b197 100%);
	-webkit-border-image: -webkit-linear-gradient(left right, #c18569 0%, #e7b197 100%);
	border-image: linear-gradient(to right, #c18569 0%, #e7b197 100%);
	border-image-slice: 1;
}

.section--menus h4 a:hover,
.section--menus h4 a:focus {
	text-decoration: none;
}

.cus-menu-nav li a {
	padding: 0;
	margin: 0;
}
.cus-menu-nav li {
	padding: 0 15px;
	display: inline;
	float: left;
	width: 33%;
  text-align: center;
}

.cus-menu-nav li a {
	color: #04080C;
	font-size: 18px;
}

.section--menus .btn {
	padding: 8px 20px;
}

@media(min-width: 450px) {
	.cus-menu-nav li {
		padding: 0px 60px;
	}

	.menu-content .panel-grid-cell {
		padding: 0 20px !important;
	}

	.section--menus .menu-content h3 {
		padding: 50px 0;
	}
}

@media (min-width: 992px) {

	.cus-menu-nav li {
		padding: 0 30px;
	}
}



/* Section 9 Reserve a table */

.section--reservations {
	position: relative;
	background-color: $darkgreen;
	color: white;
	padding: 100px 15px !important;
	
	> div {
		margin: 0 auto;
	}
}
@media (min-width: 992px) {
.section--reservations {	
	> div {
		width: 830px !important;
	}
}
}

.section--reservations h3 {
	color: #fff;
	margin-bottom: 1.2em;
}

.section--reservations p {
	margin-bottom: 25px;
	line-height: 25px;
	letter-spacing: 1px;
}

.section--reservations .opentable-section p#opentable {height: 500px; text-align: center;}

.section--reservations .rtb-booking-form legend {
	padding: 0;
	color: #fff;
}

.section--reservations .rtb-booking-form label,
.section--reservations .add-message a {
	color: #fff;
}

.section--reservations iframe {  }
 
.ot-dtp-picker.standard { margin: auto; }

@media (max-width: 768px) {
	// no longer necessary with new, narrower widget
	//#opentable-mobile { display: block;	text-align: center; }
	//#opentable { display: none; }
	//.section--reservations iframe { height: 315px; }
}

@media (min-width: 769px) {

	//#opentable-mobile { display: none; }
	#opentable { display: block; height: 160px; }
}



/* The bar at Core */
.section--bar {
	padding: 30px 0 !important;
}
@media (min-width: 992px) {
.section--bar-content {
	padding: 210px 40px;
}
}



/* Gift experiences */

.section--giftexperiences {
	padding: 30px 15px !important;

	background: #fcfbf4 url('../images/CORE_ContinousForm01.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}
@media (min-width: 992px) {
.section--giftexperiences {  
  h3 {
	  padding: 0 200px;
  }
}
}



/* Section 11 Newsletter sign-up */

.section--newsletter {
	padding: 100px 15px !important;

	background: #fcfbf4 url('../images/CORE_ContinousForm03.png');
	background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}
@media (min-width: 992px) {
.section--newsletter {
	padding: 100px 200px !important;
}
}

.section--newsletter h3 {
	margin: 0;
	padding: 90px 0 45px;
	color: #04080C;
}
@media (min-width: 1200px) {
.section--newsletter h3 {
	margin: 0 auto;
}
}

.section--newsletter input[type="text"],
.section--newsletter input[type="email"] {
	height: 50px;
    border-radius: 0px;
    background: #edece3;
    border: none;
    padding: 10px;
    font-size: 16px;
    outline: 0;
    margin: 10px 0;
}

.section--newsletter input[type="text"]:focus,
.section--newsletter input[type="email"]:focus {
    outline: 0;
}

.wpcf7-form p {clear: both; padding-top: 3em;}
.wpcf7-form input[type="submit"].btn { margin-left: auto; margin-right: auto; display: block; font-size: 20px; padding: 8px 35px;}
.wpcf7-form input[type="submit"]:hover {bacbackground-color: #F4F4EF;}

::-webkit-input-placeholder { color: #05080B; }
::-moz-placeholder { color: #05080B; }
:-ms-input-placeholder { color: #05080B; }
:-moz-placeholder { color: #05080B; }
::-moz-placeholder { opacity: 1; }



/* Careers */
.section--careers {
	padding: 45px 15px !important; // why doesn't siteorigin take care of this??!
}



/* Footer */

.site-footer {
	background: #04080B;
    padding: 50px 0;
    color: #fff;
}

.site-footer p {
	margin-bottom: 0px;
}

.site-footer p:last-child {
	margin-bottom: 0;
}

.site-footer ul {
	list-style-type: none;
  margin: 0;
	margin-top: 20px;
  padding: 0;
  overflow: hidden;
}

.site-footer  ul.social-icons-footer {
	margin-top: 30px;
}

.site-footer li {
	float: left;
	padding: 0 0 0 25px;
    font-size: 38px;
}

.site-footer li:first-child {
	padding-left: 0px !important;
}

.site-footer li a {
	display: block;
	color: #fff;
}

.site-footer p a {color: #fff; letter-spacing: 3px;}

.site-footer h4.opening {
	margin-top: 30px;
}





/* GIFT EXPERIENCES */

.page-id-833 .section--about,
.page-id-833 .section--experience-bespoke,
.page-id-833 .section--giftappearance {
	.so-widget-sow-editor {
		padding: 35px;
	}
}

.page-id-833 h3 {
	margin: 0 auto;
	padding: 30px 0;
}

.page-id-833 .site-content p { 
	margin: 0 auto 10px;
	padding: 0 30px 30px;
	font-size: 16px;
	line-height: 25px;
}

.page-id-833 .section--about,
.page-id-833 .section--experience-bespoke, 
.page-id-833 .section--experience-tastingmenu,
.page-id-833 .section--experience-alacartemenu {
	background-color: $darkgreen;
	border: none;
}

@media (min-width: 992px) {
.page-id-833 .section--experience > div {
	width: 50% !important; // yet again having to override a setting that siteorigin makes inline and I don't know why...
}
}

.page-id-833 .section--about h3 {
    padding: 100px 0;
}

.page-id-833 .section--about h3,
.page-id-833 .section--experience-bespoke h3, 
.page-id-833 .section--experience-tastingmenu h3, 
.page-id-833 .section--experience-alacartemenu h3 {
	color: #fff;
	font-size: 23px;
	text-transform: uppercase;
}
 
.page-id-833 .section--giftappearance h3 {
	font-size: 23px;
	text-transform: uppercase;
}

.page-id-833 .section--about p,
.page-id-833 .section--experience-bespoke p,
.page-id-833 .section--experience-tastingmenu p,
.page-id-833 .section--experience-alacartemenu p {
	color: #d8d6cc;
	opacity: 0.8;
}

.page-id-833 .section--about p {
	padding: 0 50px 80px 50px;
}

#fancybox1.gift-experiences-inquire {
	background-color: rgba(0,0,0,0.8);
}
.page-id-833 .fancybox-bg {
	background-color: transparent;
}

p.ge-intro  { color: #fff; 
	a {color: #337ab7;}
}
#fancybox1.gift-experiences-inquire .fancybox-close-small {color: #fff;}
.gift-experiences-inquire .wpcf7-text {margin-bottom: 10px;}
.gift-experiences-inquire .wpcf7-form label {font-weight: normal;}
.select-gift {display: inline-block;}
.gift-experiences-inquire .wpcf7-submit {color: #fff; font-size: 20px; padding: 2rem 4rem;}
.gift-experiences-inquire div.wpcf7-mail-sent-ok {color: #fff;}

.page-id-833 .section--intro {
    background: #edece3 url('../images/CORE_ContinousForm03.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}

.page-id-833 .section-4 p a.btn {
	color: #444;
}
.page-id-833 p a.btn {
	color: #d8d6cc;
}
.page-id-833 a.btn:hover {
	background-color: #fff;
	color: #444;
}





/* THE BAR AT CORE */

.page-id-901 .section--intro {
	background: #edece3 url('../images/CORE_ContinousForm03.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}

.page-id-901 .section--intro p {
	padding: 10px 0;
	font-family: "capitolium-news-2",serif;
	font-size: 17px;
  letter-spacing: 4px;
}

.page-id-901 .section--menus {
	padding: 70px 0 !important;
	
	.section--menus-inner {
		padding: 0 15px;
	}

	.section--menus-drinks { display: block; }
	.section--menus-snacks { display: none; }
}
@media (min-width: 768px) {
.page-id-901 .section--menus-tabs,
.page-id-901 .section--menus-drinks,
.page-id-901 .section--menus-snacks {
	width: 750px;
	margin: 0 auto;
	padding: 0 15px;
	
	> div {
		width: 630px;
		margin: 0 auto;
	}
	
	.cus-menu-nav {
		width: 630px;
		li {
			padding: 0 75px;
		}
	}

}
}
@media (min-width: 992px) {
.page-id-901 .section--menus-tabs,
.page-id-901 .section--menus-drinks,
.page-id-901 .section--menus-snacks {	
	> div {
		width: 630px;
		margin: 0 auto;
	}
}
}

.page-id-901 .cus-menu-nav li {
	width: 50%;
}

.page-id-901 .sow-slider-base .sow-slider-pagination {
    text-align: center;
    bottom: 30px;
}

.page-id-901 .container .so-widget-sow-slider {
	width: 600px;
	margin: auto;
	max-width: 100%;
}

.page-id-901 .sow-slider-base .sow-sld-icon-ultra-thin-right:before {
    background-image: url(/wp-content/uploads/2017/07/core-chevron-1.png) !important;
    width: 20px;
    height: 40px;
    background-size: 20px 40px;
    content: "" !important;
    display: inline-block;
}

.page-id-901 .sow-slider-base .sow-sld-icon-ultra-thin-left:before {
	background-image: url(/wp-content/uploads/2017/07/core-chevron-left-1.png) !important;
    width: 20px;
    height: 40px;
    background-size: 20px 40px;
    content: "" !important;
    display: inline-block;
}

.page-id-901 .sow-slider-base .sow-slider-pagination li {
	margin: 0 3px;
}

.page-id-901 .sow-slider-base .sow-slider-pagination li.sow-active a {
	background-image: linear-gradient(#fddec4, #c18569);
}

.page-id-901 .sow-slider-base {
	overflow: initial;
}

.page-id-901 .sow-slider-base .sow-slider-pagination li a {
	border-radius: 0px;
    background: transparent;
    border: 1px solid transparent;
    -moz-border-image: -moz-linear-gradient(top bottom, #fddec4 0%, #c18569 100%);
    -webkit-border-image: -webkit-linear-gradient(top bottom, #fddec4 0%, #c18569 100%);
    border-image: linear-gradient(to bottom, #fddec4 0%, #c18569 100%);
    border-image-slice: 1;
    opacity: 1;
    width: 14px;
    height: 14px;
}

@media(min-width: 768px){

	.sow-slider-base .sow-slide-nav.sow-slide-nav-prev { left: -60px }

	.sow-slider-base .sow-slide-nav.sow-slide-nav-next { right: -60px;	}

//}

//@media(min-width: 769px){

	.cus-the-bar-content {
		padding: 210px 40px;
	}

	#panel-4-9-0-0 h3 {
		padding: 0 200px;
	}
}





/* POLICY PAGES */

.page-template-page-policy #content {
	margin: 60px 15px;
}
@media( min-width: 768px){
.page-template-page-policy #content {
	margin-top: 120px;
}
}






/* open table stylesheet css */

@charset "UTF-8";
.icon-font {
  font-family: 'rest-ref';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

@font-face {
  font-family: 'rest-ref';
  src: url("../fonts/icons.eot");
  src: url("../fonts/icons.eot?#iefix") format("embedded-opentype"), url("../fonts/icons.woff") format("woff"), url("../fonts/icons.ttf") format("truetype"), url("../fonts/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal; }

.opentable-section .ot-button {
  font-family: "source-sans-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 1em;
  line-height: normal;
  position: relative;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  outline: 0;
  display: inline-block;
  background-color: #DA3743;
  width: 100%;
  color: #FFF;
  padding: .875em 0 .9375em;
  -webkit-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out; }
  .opentable-section .ot-button:focus, .opentable-section .ot-button:hover {
    background-color: #B8222D;
    color: #FFF; }
  .opentable-section .ot-button.ja {
    font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Roboto, "Droid Sans", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif; }

.opentable-section .picker {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #333;
  position: absolute;
  z-index: 100;
  width: 100%;
  top: -3.25em; }
  .opentable-section .picker.up {
    top: -290px; }

.opentable-section .picker__input {
  cursor: default;
  width: 100%; }
  .opentable-section .picker__input.picker__input--active {
    border-color: #e5e5e5; }

.opentable-section .picker__holder {
  border-radius: 3px;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  background: #fff;
  -webkit-box-shadow: 0 0 0 1px #e5e5e5;
  box-shadow: 0 0 0 1px #e5e5e5;
  max-height: 0;
  width: 14em;
  left: calc(50% - 7em);
  position: absolute;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: -webkit-transform .15s ease-out,opacity .15s ease-out,position .15s ease-out,max-height 0s .15s;
  -webkit-transition: opacity .15s ease-out,position .15s ease-out,max-height 0s .15s,-webkit-transform .15s ease-out;
  transition: opacity .15s ease-out,position .15s ease-out,max-height 0s .15s,-webkit-transform .15s ease-out;
  transition: transform .15s ease-out,opacity .15s ease-out,position .15s ease-out,max-height 0s .15s;
  transition: transform .15s ease-out,opacity .15s ease-out,position .15s ease-out,max-height 0s .15s,-webkit-transform .15s ease-out; }

.opentable-section .down .picker__holder, .opentable-section .up .picker__holder {
  -webkit-transform: translateY(1em) perspective(600px) rotateX(0);
  transform: translateY(1em) perspective(600px) rotateX(0); }

.opentable-section .picker--opened .picker__holder {
  max-height: 400px;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transform: translateY(0) perspective(600px) rotateX(0);
  transform: translateY(0) perspective(600px) rotateX(0);
  -webkit-transition: -webkit-transform .15s ease-out,opacity .15s ease-out,position .15s ease-out,max-height 0s;
  -webkit-transition: opacity .15s ease-out,position .15s ease-out,max-height 0s,-webkit-transform .15s ease-out;
  transition: opacity .15s ease-out,position .15s ease-out,max-height 0s,-webkit-transform .15s ease-out;
  transition: transform .15s ease-out,opacity .15s ease-out,position .15s ease-out,max-height 0s;
  transition: transform .15s ease-out,opacity .15s ease-out,position .15s ease-out,max-height 0s,-webkit-transform .15s ease-out; }

.opentable-section .ot-datepicker {
  z-index: 1; }

.opentable-section .picker__input--active {
  z-index: 0; }

.opentable-section .picker__box {
  padding: 1em 1em 1em 1em; }

.opentable-section .picker__close {
  text-align: center;
  padding: 0.5em 0;
  display: block;
  background: #EFEFEF;
  color: #DA3743;
  cursor: pointer; }
  .opentable-section .picker__close:hover {
    color: #bb232e; }

.opentable-section .picker__header {
  text-align: center;
  position: relative; }

.opentable-section .picker__month, .opentable-section .picker__year {
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px; }

.opentable-section .picker__nav--next {
  position: absolute;
  color: #DA3743;
  display: block;
  top: 2px;
  width: 1.5em; }

.opentable-section .picker__nav--prev {
  position: absolute;
  color: #DA3743;
  display: block;
  top: 2px;
  width: 1.5em;
  left: 0;
  padding-right: 1.5em; }
  .opentable-section .picker__nav--prev:before {
    font-family: 'rest-ref';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "l"; }

.opentable-section .picker__nav--next {
  right: 0;
  padding-left: 0; }
  .opentable-section .picker__nav--next:before {
    font-family: 'rest-ref';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "r"; }

.opentable-section .picker__nav--disabled.picker__nav--prev:before, .opentable-section .picker__nav--disabled.picker__nav--next:before {
  color: #666; }

.opentable-section .picker__nav--next:hover, .opentable-section .picker__nav--prev:hover {
  cursor: pointer;
  color: #bb232e; }

.opentable-section .picker__nav--disabled {
  cursor: default;
  background: 0 0;
  color: #999; }
  .opentable-section .picker__nav--disabled:before {
    cursor: default;
    background: 0 0;
    color: #999; }
    .opentable-section .picker__nav--disabled:before:hover {
      cursor: default;
      background: 0 0;
      color: #999; }
  .opentable-section .picker__nav--disabled:hover {
    cursor: default;
    background: 0 0;
    color: #999; }

.opentable-section .picker__table {
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  font-size: 14px;
  width: 100%;
  margin-top: 0.75em; }
  .opentable-section .picker__table td {
    margin: 0;
    padding: 1px 0;
    text-align: center; }

.opentable-section .picker__weekday {
  width: 14.285714286%;
  font-size: 14px;
  padding-bottom: 8px;
  color: #999;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 1px solid #e5e5e5; }

.opentable-section .picker__day {
  margin: 0 auto;
  width: 25px;
  height: 25px;
  line-height: 1.8;
  text-align: center;
  border-radius: 100%; }

.opentable-section .picker__day--today {
  color: #000;
  background: #e5e5e5;
  position: relative; }

.opentable-section .picker__day--selected {
  border-color: #DA3743; }
  .opentable-section .picker__day--selected:hover {
    border-color: #DA3743; }

.opentable-section .picker__day--highlighted {
  background: #DA3743;
  font-weight: 400; }

.opentable-section .picker__day--disabled:before {
  border-top-color: #e5e5e5; }

.opentable-section .picker__day--outfocus {
  color: #999; }

.opentable-section .picker__day--infocus:hover, .opentable-section .picker__day--outfocus:hover {
  cursor: pointer;
  color: #DA3743;
  background: #f7d7d9; }

.opentable-section .picker--focused .picker__day--highlighted, .opentable-section .picker__day--highlighted:hover {
  background: #DA3743;
  color: #fff; }

.opentable-section .picker__day--disabled {
  color: #e5e5e5;
  cursor: default;
  background: 0 0; }
  .opentable-section .picker__day--disabled:hover {
    color: #e5e5e5;
    cursor: default;
    background: 0 0; }

.opentable-section .picker__day--highlighted.picker__day--disabled {
  background: #bbb; }
  .opentable-section .picker__day--highlighted.picker__day--disabled:hover {
    background: #bbb; }

.opentable-section .picker__footer {
  display: none; }

.opentable-section .ot-dtp-picker {
  background: #FFF;
  position: relative;
  width: 12.5em;
  padding: 15px;
  border-radius: 3px; }
  .opentable-section .ot-dtp-picker:before {
    content: " ";
    display: table; }
  .opentable-section .ot-dtp-picker:after {
    content: " ";
    display: table;
    clear: both; }

.opentable-section .ot-dtp-picker-form {
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFF; }

.opentable-section .ot-dtp-picker-selector {
  margin: 0;
  width: 100%;
  position: relative;
  height: 3em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12); }

.opentable-section .ot-dtp-picker-selector-link {
  position: relative;
  display: block;
  color: #333;
  padding: 0.875em 2.5em;
  z-index: 1; }
  .opentable-section .ot-dtp-picker-selector-link:after {
    font-family: 'rest-ref';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "m";
    position: absolute;
    font-size: 1.3125em;
    right: 0.5em;
    color: #999; }
  .opentable-section .ot-dtp-picker-selector-link:before {
    position: absolute;
    font-size: 1.3125em;
    left: 0.75em;
    color: #999;
    top: .9375em; }
  .opentable-section .ot-dtp-picker-selector-link:hover {
    color: #000; }

.opentable-section .ot-dtp-picker-selector select {
  position: absolute;
  opacity: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  color: #333;
  font-size: 1em;
  background-color: #FFF;
  z-index: 2; }

.opentable-section .ot-dtp-picker .ot-date-picker .ot-dtp-picker-selector-link {
  overflow: hidden;
  white-space: nowrap; }
  .opentable-section .ot-dtp-picker .ot-date-picker .ot-dtp-picker-selector-link:before {
    font-family: 'rest-ref';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "d";
    font-size: 1em; }

.opentable-section .ot-dtp-picker .ot-date-picker .ot-dtp-picker-select {
  outline: 0;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  cursor: pointer;
  height: 100%;
  border: 0;
  opacity: 0; }
  .opentable-section .ot-dtp-picker .ot-date-picker .ot-dtp-picker-select:focus {
    outline: 0;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    cursor: pointer;
    height: 100%;
    border: 0;
    opacity: 0; }

.opentable-section .ot-dtp-picker .ot-time-picker .ot-dtp-picker-selector-link:before {
  font-family: 'rest-ref';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "t";
  font-size: 1em; }

.opentable-section .ot-dtp-picker .ot-party-size-picker .ot-dtp-picker-selector-link:before {
  font-family: 'rest-ref';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "p";
  font-size: 1em; }

.opentable-section .ot-dtp-picker .ot-dtp-picker-button {
  border-radius: 0 0 3px 3px;
  height: 3em;
  margin: 0 !important;
  -webkit-box-shadow: 0 0 0 1px #DA3743;
  box-shadow: 0 0 0 1px #DA3743;
  -webkit-appearance: none; }

.opentable-section .ot-dtp-picker.tall {
  width: 16em; }
  .opentable-section .ot-dtp-picker.tall .ot-date-label {
    display: none; }
  .opentable-section .ot-dtp-picker.tall .ot-date-picker {
    height: 14.75em; }
  .opentable-section .ot-dtp-picker.tall .picker {
    top: 0.5em; }
  .opentable-section .ot-dtp-picker.tall .picker__box {
    padding: 0 0.75em; }
  .opentable-section .ot-dtp-picker.tall .picker__holder {
    width: 16em;
    left: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent; }
  .opentable-section .ot-dtp-picker.tall .picker__close {
    display: none; }

.opentable-section .ot-dtp-picker.wide {
  width: 100% }
  .opentable-section .ot-dtp-picker.wide .ot-dtp-picker-form {
    height: 3em; }
    .opentable-section .ot-dtp-picker.wide .ot-dtp-picker-form .ot-dtp-picker-selector {
      width: 200px;
      border-bottom: none;
      float: left; }
      .opentable-section .ot-dtp-picker.wide .ot-dtp-picker-form .ot-dtp-picker-selector + .ot-dtp-picker-selector {
        border-left: 1px solid #e5e5e5; }
    .opentable-section .ot-dtp-picker.wide .ot-dtp-picker-form .ot-dtp-picker-button {
      border-radius: 0 3px 3px 0;
      width: 200px;
      float: right; }
  .opentable-section .ot-dtp-picker.wide .picker {
    top: 90%; }
  .opentable-section .ot-dtp-picker.wide .picker__close {
    display: none; }
  .opentable-section .ot-dtp-picker.wide .picker.down:after, .opentable-section .ot-dtp-picker.wide .picker.down:before {
    opacity: 0;
    border: 8px solid transparent;
    content: ' ';
    height: 0;
    left: calc(50% - 0.25em);
    position: absolute;
    width: 0; }
  .opentable-section .ot-dtp-picker.wide .picker.down:after {
    border-bottom-color: #FFF;
    top: -16px; }
  .opentable-section .ot-dtp-picker.wide .picker.down:before {
    border-bottom-color: rgba(0, 0, 0, 0.12);
    top: -17px; }
  .opentable-section .ot-dtp-picker.wide .picker.down.picker--opened:after, .opentable-section .ot-dtp-picker.wide .picker.down.picker--opened:before {
    opacity: 1;
    -webkit-transition: opacity .15s .15s;
    transition: opacity .15s .15s; }

.opentable-section #ot-reservation-widget {
  font-family: "source-sans-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.3; }
  .opentable-section #ot-reservation-widget.ja {
    font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Roboto, "Droid Sans", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif; }

.opentable-section .ot-header {
  text-align: center;
  line-height: 1;
  border-bottom: 1px solid #e5e5e5; }

.opentable-section .ot-title {
  margin: 0.25em auto 0.75em auto;
  font-weight: 600;
  font-size: 1.075em;
  text-align: center; }

.opentable-section .ot-dtp-picker.wide {
  background: none; }
  .opentable-section .ot-dtp-picker.wide .ot-title {
    text-align: center;
    margin-bottom: 0.75em; color: white; }
  .opentable-section .ot-dtp-picker.wide .ot-powered-by {
    background-position: left;
    margin-bottom: 0.75em; }

.opentable-section .ot-powered-by {
  height: 22px;
  background: url(../images/brand.png) no-repeat center;
  margin-top: 0.5em; }
  .opentable-section .ot-powered-by.fr {
    background-image: url(../images/brand-fr.png); }
  .opentable-section .ot-powered-by.es {
    background-image: url(../images/brand-es.png); }

@media (min--moz-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .opentable-section .ot-powered-by {
    background-image: url(../images/brand@2x.png);
    background-size: 156px 22px; }
    .opentable-section .ot-powered-by.fr {
      background-image: url(../images/brand-fr@2x.png);
      background-size: 153px 22px; }
    .opentable-section .ot-powered-by.es {
      background-image: url(../images/brand-es@2x.png);
      background-size: 171px 22px; } }

@media (min-width: 769px) {
.opentable-section .ot-dtp-picker {
  padding: 0.75em 12px;
}
}
